.SearchBarS{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputS{
    width: 70%;
    margin-top: 15em;
    height: 3em;
    border-radius: 0.7em;
    border-color: black;
    
}

.buttonIpt{
    margin-top: 15em;
    height: 3em;
    width: 5em;
    border-radius: 0.7em;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: fantasy;
    
}

.buttonIpt:hover{
    background-color: white;
    color: gray;
}